USE [master]
GO
/****** Object:  Database [StationeryStore]    Script Date: 12/1/2568 16:01:17 ******/
CREATE DATABASE [StationeryStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StationeryStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StationeryStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StationeryStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StationeryStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StationeryStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StationeryStore]
GO
/****** Object:  Table [dbo].[Categories_tb]    Script Date: 12/1/2568 16:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories_tb](
	[categoryID] [int] NOT NULL,
	[categoryName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_tb]    Script Date: 12/1/2568 16:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_tb](
	[productID] [int] NOT NULL,
	[productName] [nvarchar](max) NULL,
	[img] [nvarchar](max) NULL,
	[price] [float] NULL,
	[stock] [int] NULL,
	[categoryID] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_tb]    Script Date: 12/1/2568 16:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_tb](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](max) NULL,
	[userEmail] [nvarchar](max) NULL,
	[userPassword] [nvarchar](50) NULL,
	[role] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Categories_tb] ([categoryID], [categoryName]) VALUES (1, N'เครื่องเขียนพื้นฐาน')
INSERT [dbo].[Categories_tb] ([categoryID], [categoryName]) VALUES (2, N'สมุดและกระดาษ')
INSERT [dbo].[Categories_tb] ([categoryID], [categoryName]) VALUES (3, N'อุปกรณ์การวาดและศิลปะ')
GO
INSERT [dbo].[Products_tb] ([productID], [productName], [img], [price], [stock], [categoryID]) VALUES (1, N'G-2 ROLLER BALL', N'https://pilotpen.co.th/wp-content/uploads/2022/10/BL-G2-5-L.jpg', 55, 10, 1)
INSERT [dbo].[Products_tb] ([productID], [productName], [img], [price], [stock], [categoryID]) VALUES (2, N'Lamy Safari Fountain Pen', N'https://down-th.img.susercontent.com/file/2b2a7b5bacb797b5ae608ae252a43c3d.webp', 201, 12, 1)
INSERT [dbo].[Products_tb] ([productID], [productName], [img], [price], [stock], [categoryID]) VALUES (3, N'Uni-ball Signo 207', N'https://www.mp-uni.com/th/wp-content/uploads/sites/7/2023/10/Signo-UMN-207.jpg', 51, 15, 1)
GO
SET IDENTITY_INSERT [dbo].[User_tb] ON 

INSERT [dbo].[User_tb] ([userID], [userName], [userEmail], [userPassword], [role]) VALUES (1, N'Chompoo', N'Chompoo@gmail.com', N'1234', N'Admin')
INSERT [dbo].[User_tb] ([userID], [userName], [userEmail], [userPassword], [role]) VALUES (2, N'Nungning', N'Nungning@gmail.com', N'4321', N'Admin')
INSERT [dbo].[User_tb] ([userID], [userName], [userEmail], [userPassword], [role]) VALUES (3, N'Bigboss', N'Bigboss@gmail.com', N'1234', N'User')
SET IDENTITY_INSERT [dbo].[User_tb] OFF
GO
USE [master]
GO
