<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StationeryStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StationeryStore.styles.css" asp-append-version="true" />
</head>
@{
  
}


<body>
    <header>
        @if (ViewData["HideNavbar"] == null || !(bool)ViewData["HideNavbar"])
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
                <div class="container-fluid">
                    <p class="navbar-brand" asp-area="" asp-controller="#" asp-action="#">StationeryStore</p>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @*  <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        *@
                           @*  <li class="nav-item">
                            <a class="nav-link " href="/Product/AllProduct" >Product</a>

                            </li> *@
                            <li class="nav-item" style="margin-left:auto;">
                                <a class="nav-link logout" href="/Account/Login" style="color: #FFFAEC">Logout</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2568 - StationeryStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
   
</body>
</html>




<style>
    body{
        font-family: "Athiti", serif;
        font-size:20px;
        background-image: url("https://images.pexels.com/photos/89625/pexels-photo-89625.jpeg");
        background-attachment: fixed;
        background-repeat:no-repeat;
        background-size:cover;
        color: #FAF7F0;
        background-position: center;
    }
    nav{
        background-color: #3D3D3D;
        margin:5px 100px 50px 100px;
        border-radius:10px;
        padding:50px 20px 50px 20px;
        display: flex;
        justify-content: space-between;
        clear: both;
        position:sticky;
        top:0px;
        z-index: 1000;

        
    }

    .navbar-brand
    {
        color: #FFFAEC;
        margin:0px 100px 0px 40px;
        font-size:36px;
    }
   

    .nav-link{
        color: #E4C59E;
        margin:0 20px 0 20px;
        font:20px;
        
    }
    .nav-link:hover{
            color: #AF8260;
    }

    .logout{
        font-size:30px;
    }

    .nav-link ,logout:hover {
            color: #AF8260;
    }
</style>